:root,
[data-bs-theme=light] {
  --vz-blue: #5596f7;
  --vz-indigo: #4f46bb;
  --vz-purple: #695eef;
  --vz-pink: #f672a7;
  --vz-red: #ff7f41;
  --vz-orange: #f1963b;
  --vz-yellow: #ffc061;
  --vz-green: #11d1b7;
  --vz-teal: #02a8b5;
  --vz-cyan: #73dce9;
  --vz-white: #fff;
  --vz-gray: #878a99;
  --vz-gray-dark: #343a40;
  --vz-gray-100: #f3f6f9;
  --vz-gray-200: #eff2f7;
  --vz-gray-300: #e9ebec;
  --vz-gray-400: #ced4da;
  --vz-gray-500: #adb5bd;
  --vz-gray-600: #878a99;
  --vz-gray-700: #495057;
  --vz-gray-800: #343a40;
  --vz-gray-900: #212529;
  --vz-primary: #E16F28;
  --vz-secondary: #E1A228;
  --vz-success: #63BAAB;
  --vz-info: #28A9E1;
  --vz-warning: #F0DE3A;
  --vz-danger: #E12828;
  --vz-light: #f3f6f9;
  --vz-dark: #343a40;
  --vz-primary-rgb: 105, 94, 239;
  --vz-secondary-rgb: 85, 150, 247;
  --vz-success-rgb: 17, 209, 183;
  --vz-info-rgb: 115, 220, 233;
  --vz-warning-rgb: 255, 192, 97;
  --vz-danger-rgb: 255, 127, 65;
  --vz-light-rgb: 243, 246, 249;
  --vz-dark-rgb: 52, 58, 64;
  --vz-primary-text-emphasis: #5950cb;
  --vz-secondary-text-emphasis: #4880d2;
  --vz-success-text-emphasis: #0eb29c;
  --vz-info-text-emphasis: #62bbc6;
  --vz-warning-text-emphasis: #d9a352;
  --vz-danger-text-emphasis: #d96c37;
  --vz-light-text-emphasis: #ced4da;
  --vz-dark-text-emphasis: #343a40;
  --vz-primary-bg-subtle: #FAE5D9;
  --vz-secondary-bg-subtle: #FAEED9;
  --vz-success-bg-subtle: #E3F3F0;
  --vz-info-bg-subtle: #D9F0FA;
  --vz-warning-bg-subtle: #FCF9DC;
  --vz-danger-bg-subtle: #FAD9D9;
  --vz-light-bg-subtle: #f9fbfc;
  --vz-dark-bg-subtle: #e9ebec;
  --vz-primary-border-subtle: #c3bff9;
  --vz-secondary-border-subtle: #bbd5fc;
  --vz-success-border-subtle: #a0ede2;
  --vz-info-border-subtle: #c7f1f6;
  --vz-warning-border-subtle: #ffe6c0;
  --vz-danger-border-subtle: #ffccb3;
  --vz-light-border-subtle: #eff2f7;
  --vz-dark-border-subtle: #adb5bd;
  --vz-white-rgb: 255, 255, 255;
  --vz-black-rgb: 0, 0, 0;
  --vz-font-sans-serif: "Outfit", sans-serif;
  --vz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --vz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --vz-body-font-family: var(--vz-font-sans-serif);
  --vz-body-font-size: 0.875rem;
  --vz-body-font-weight: 400;
  --vz-body-line-height: 1.5;
  --vz-body-color: #212529;
  --vz-body-color-rgb: 33, 37, 41;
  --vz-body-bg: #f7f7f9;
  --vz-body-bg-rgb: 247, 247, 249;
  --vz-emphasis-color: #212529;
  --vz-emphasis-color-rgb: 33, 37, 41;
  --vz-secondary-color: #878a99;
  --vz-secondary-color-rgb: 135, 138, 153;
  --vz-secondary-bg: #fff;
  --vz-secondary-bg-rgb: 255, 255, 255;
  --vz-tertiary-color: rgba(33, 37, 41, 0.5);
  --vz-tertiary-color-rgb: 33, 37, 41;
  --vz-tertiary-bg: #eff2f7;
  --vz-tertiary-bg-rgb: 239, 242, 247;
  --vz-heading-color: #495057;
  --vz-link-color: #695eef;
  --vz-link-color-rgb: 105, 94, 239;
  --vz-link-decoration: none;
  --vz-link-hover-color: #695eef;
  --vz-link-hover-color-rgb: 105, 94, 239;
  --vz-code-color: #f672a7;
  --vz-highlight-bg: #fcf8e3;
  --vz-border-width: 1px;
  --vz-border-style: solid;
  --vz-border-color: #e9ebec;
  --vz-border-color-translucent: #ced4da;
  --vz-border-radius: 0.25rem;
  --vz-border-radius-sm: 0.2rem;
  --vz-border-radius-lg: 0.3rem;
  --vz-border-radius-xl: 1rem;
  --vz-border-radius-xxl: 2rem;
  --vz-border-radius-2xl: var(--vz-border-radius-xxl);
  --vz-border-radius-pill: 50rem;
  --vz-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  --vz-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --vz-box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);
  --vz-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --vz-focus-ring-width: 0.25rem;
  --vz-focus-ring-opacity: 0.25;
  --vz-focus-ring-color: rgba(var(--vz-primary-rgb), 0.25);
  --vz-form-valid-color: #11d1b7;
  --vz-form-valid-border-color: #11d1b7;
  --vz-form-invalid-color: #ff7f41;
  --vz-form-invalid-border-color: #ff7f41;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --vz-body-color: #ced4da;
  --vz-body-color-rgb: 206, 212, 218;
  --vz-body-bg: #1a1d21;
  --vz-body-bg-rgb: 26, 29, 33;
  --vz-emphasis-color: #fff;
  --vz-emphasis-color-rgb: 255, 255, 255;
  --vz-secondary-color: #878a99;
  --vz-secondary-color-rgb: 135, 138, 153;
  --vz-secondary-bg: #212529;
  --vz-secondary-bg-rgb: 33, 37, 41;
  --vz-tertiary-color: rgba(206, 212, 218, 0.75);
  --vz-tertiary-color-rgb: 206, 212, 218;
  --vz-tertiary-bg: #2a2d31;
  --vz-tertiary-bg-rgb: 42, 45, 49;
  --vz-primary-text-emphasis: #877ef2;
  --vz-secondary-text-emphasis: #77abf9;
  --vz-success-text-emphasis: #41dac5;
  --vz-info-text-emphasis: #8fe3ed;
  --vz-warning-text-emphasis: #ffcd81;
  --vz-danger-text-emphasis: #ff9967;
  --vz-light-text-emphasis: #535659;
  --vz-dark-text-emphasis: #5f6164;
  --vz-primary-bg-subtle: rgba(105, 94, 239, 0.15);
  --vz-secondary-bg-subtle: rgba(85, 150, 247, 0.15);
  --vz-success-bg-subtle: rgba(17, 209, 183, 0.15);
  --vz-info-bg-subtle: rgba(115, 220, 233, 0.15);
  --vz-warning-bg-subtle: rgba(255, 192, 97, 0.15);
  --vz-danger-bg-subtle: rgba(255, 127, 65, 0.15);
  --vz-light-bg-subtle: #25282c;
  --vz-dark-bg-subtle: #313437;
  --vz-primary-border-subtle: #443d9b;
  --vz-secondary-border-subtle: #2b4b7c;
  --vz-success-border-subtle: #09695c;
  --vz-info-border-subtle: #3a6e75;
  --vz-warning-border-subtle: #806031;
  --vz-danger-border-subtle: #804021;
  --vz-light-border-subtle: #35383c;
  --vz-dark-border-subtle: #3c3f42;
  --vz-heading-color: #ced4da;
  --vz-link-color: #e1dffc;
  --vz-link-hover-color: #e7e5fd;
  --vz-link-color-rgb: 225, 223, 252;
  --vz-link-hover-color-rgb: 231, 229, 253;
  --vz-code-color: #f672a7;
  --vz-border-color: #32383e;
  --vz-border-color-translucent: #32383e;
  --vz-form-valid-color: #41dac5;
  --vz-form-valid-border-color: #41dac5;
  --vz-form-invalid-color: #ff9967;
  --vz-form-invalid-border-color: #ff9967;
}
